.blog-list {
  order: 0;
  flex: 0 0 auto;
  width: 100%;
  max-width: 1120px;

  .caption.blog-list__caption {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 50px 30px;
    border-top: 1px solid rgba(0, 0, 0, .05);

    .caption__content {
      order: 0;
      flex: 0 0 50%;
      padding: 0 30px 0 0;
      align-self: flex-start;

      .caption__title {
        display: table;
        font: 300 30px/30px 'Assistant', serif;
        letter-spacing: -.025em;
        color: #666666;
      }

      .caption__title:after {
        content: '';
        display: block;
        width: 100px;
        height: 1px;
        margin: 30px 0;
        background-color: #bbbbbb;
      }

      .caption__description {
        font: 400 16px/16px 'Assistant', sans-serif;
        letter-spacing: -.01em;
        color: #666666;
      }
    }

    .caption__last-blog {
      order: 0;
      flex: 0 0 50%;
      padding: 20px 0 20px 30px;
      position: relative;
      border-left: 1px solid rgba(0, 0, 0, .05);
    }
  }

  .blog-list__feed {
    width: 100%;
    height: auto;
    padding: 25px 0;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    align-content: center;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, .05);

    .blog {
      order: 0;
      flex: 0 0 50%;
      padding: 20px 30px;
      margin: 25px 0;
    }

    .blog:nth-child(2n) {
      border-left: 1px solid rgba(0, 0, 0, .05);
    }
  }
}
