.navigation__tab {
  order: 0;
  flex: 0 0 auto;
  margin: 0 15px;
  font: 600 16px/15px 'Assistant', sans-serif;
  color: #999999;
  border-bottom: 1px solid rgba(115, 115, 115, 0);
  transition: color .15s ease;
}

.navigation__tab:hover,
.navigation__tab:focus,
.navigation__tab.navigation__tab_current {
  cursor: pointer;
  color: #464646;
}

.navigation__tab:first-child {
  margin: 0 15px 0 0;
}

.navigation__tab:last-child {
  margin: 0 0 0 15px;
}

.navigation__tab.navigation__tab_theme_sign-in {
  color: #0080ff;
}

.navigation__tab.navigation__tab_theme_sign-up {
  padding: 11px 20px;
  background-color: rgba(0, 128, 255, 0);
  border: 1px solid #0080ff;
  border-radius: 4px;
  font-weight: 600;
  color: #0080ff;
  transition: color .15s ease, background-color .2s ease
}

.navigation__tab.navigation__tab_theme_sign-up:hover,
.navigation__tab.navigation__tab_theme_sign-up:focus,
.navigation__tab.navigation__tab_theme_sign-up.navigation__tab_current{
  color: white;
  background-color: #0080ff;
}
