.header {
  order: 0;
  flex: 0 0 auto;
  width: 100%;
  max-width: 1120px;
  padding: 20px 30px;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  align-content: center;
  justify-content: space-between;

  .logotype {
    order: 0;
    flex: 0 0 auto;
    font: 600 23px/23px 'Assistant', sans-serif;
    text-transform: capitalize;
    letter-spacing: -.04em;
    color: #0080ff;
  }

  .logotype.logotype_new_blog:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: rgba(0, 128, 255, .8);
    margin: 0 0 0 4px;
  }

  .logotype:hover {
    cursor: pointer;
  }
}
