.blog {
  width: 100%;
  height: auto;

  .blog__header {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;

    .blog__avatar {
      order: 0;
      flex: 0 0 auto;
      width: 55px;
      height: 55px;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
      background-color: rgba(0, 128, 255, .1);
      color: #0080ff;
      text-align: center;
      font: 700 20px/55px 'Assistant', serif;

      img {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
      }
    }

    .blog__author {
      order: 0;
      flex: 1 0 auto;
      font: 600 16px/16px 'Assistant', serif;
      color: #464646;
      padding: 0 10px;
    }

    .blog__date {
      order: 0;
      flex: 0 0 auto;
      font: 400 14px/14px 'Assistant', serif;
      letter-spacing: -.02em;
      color: #999999;
    }
  }

  .blog__message {
    padding: 15px 0;
    font: 400 16px/20px 'Lora', serif;
    letter-spacing: -.01em;
    color: #464646;

    .blog__theme {
      font: 600 16px/20px 'Lora', serif;
      color: #464646;
    }

    .blog__theme:after {
      content: '';
      display: block;
      width: 25px;
      height: 1px;
      background-color: #bbbbbb;
      margin: 15px 0;
    }
  }

  .blog__referrers {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    align-content: center;
    justify-content: space-between;

    .blog__like-link {
      display: inline-flex;
      flex-flow: row nowrap;
      align-items: center;
      align-content: center;
      justify-content: flex-start;
      border: 0;
      background-color: transparent;
      outline: none;

      .blog__like {
        order: 0;
        flex: 0 0 auto;
        background: url('./blog__like.svg') 50% 50% no-repeat;
        width: 15px;
        height: 13px;
      }

      .blog__like-score {
        order: 0;
        flex: 0 0 auto;
        font: 600 13px/13px 'Assistant', serif;
        letter-spacing: -.02em;
        color: #999999;
        padding: 0 5px;
        transition: color .15s ease;
      }
    }

    .blog__like-link:hover,
    .blog__like-link:focus {
      cursor: pointer;

      .blog__like-score {
        color: #EC4E8B;
      }
    }

    .blog__link {
      order: 0;
      font: 600 15px/15px 'Assistant', serif;
      letter-spacing: -.01em;
      color: #0080ff;
      padding: 8px 15px;
      background-color: rgba(0, 128, 255, .1);
      border-radius: 4px;
      transition: color .15s ease, background-color .2s ease;
    }

    .blog__link:hover,
    .blog__link:focus {
      cursor: pointer;
      color: white;
      background-color: #0080ff;
    }
  }
}
