.sign-up-form {
  width: 100%;
  height: auto;
  padding: 20px 0;

  .sign-up-form__field {
    display: block;
    width: 100%;
    max-width: 250px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgba(0, 0, 0, .05);
    font: 400 14px/14px 'Assistant', serif;
    letter-spacing: -.01em;
    color: #434343;
    border-radius: 4px;
    transition: border-color .15s ease;
    outline: none;
  }

  .sign-up-form__field:hover,
  .sign-up-form__field:focus {
    border: 1px solid rgba(0, 128, 255, .58);
  }

  .sign-up-form__button {
    width: 100%;
    max-width: 250px;
    outline: none;
    font: 600 15px/15px 'Assistant', serif;
    letter-spacing: -.01em;
    color: #0080ff;
    padding: 10px 0;
    border: 0;
    background-color: rgba(0, 128, 255, .1);
    transition: color .15s ease, background-color .2s ease;
    border-radius: 4px;
  }

  .sign-up-form__button:hover,
  .sign-up-form__button:focus {
    cursor: pointer;
    color: white;
    background-color: #0080ff;
  }
}
