.sign-in {
  order: 0;
  flex: 1 1 auto;
  width: 100%;
  max-width: 1120px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 30px 0;

  .sign-in__form {
    width: 100%;
    max-width: 310px;
    padding: 20px 30px;
    border: 1px solid rgba(0, 128, 255, .25);
    border-radius: 3px;
    box-shadow: 0 0 0 5px rgba(0, 128, 255, .1);
  }

  .sign-in__field {
    display: block;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 10px;
    border-radius: 4px;
    font: 400 14px/14px 'Assistant', serif;
    color: #434343;
    margin: 7px 0;
    outline: none;
    transition: border-color .2s ease;
  }

  .sign-in__field:hover,
  .sign-in__field:focus {
    border: 1px solid rgba(0, 128, 255, .58);
  }

  .sign-in__button {
    display: block;
    width: 100%;
    padding: 10px 0;
    font: 600 15px/15px 'Assistant', serif;
    color: #0080ff;
    background-color: rgba(0, 128, 255, .1);
    border: 0;
    border-radius: 4px;
    margin: 15px 0 0;
    transition: color .15s ease, background-color .2s ease;
  }

  .sign-in__button:hover,
  .sign-in__button:focus {
    cursor: pointer;
    color: white;
    background-color: #0080ff;
  }
}
