.caption {
  width: 100%;
  height: auto;
  padding: 20px 30px;
  position: relative;

  .caption__close {
    position: absolute;
    z-index: 1;
    top: 25px;
    right: 30px;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 0;
    outline: none;
  }

  .caption__close:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: url('./caption__close.svg') 50% 50% no-repeat;
    background-size: cover;
    opacity: .25;
    transition: opacity .2s ease;
  }

  .caption__close:hover,
  .caption__close:focus {
    cursor: pointer;
  }

  .caption__close:hover:before,
  .caption__close:focus:before{
    opacity: 1;
  }
}
